<!--<my-simple-navbar [navTitle]="'Sign In'" [backRoute]="['/library']"></my-simple-navbar>

<div class="container ">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-xs-12">
      <div class="login jumbotron center-block mt-2">
        <div class="my-1">
          <button type="button" class="btn btn-primary" (click)="oauthSignIn('google')">
                <i class="fa fa-google"></i> Sign in with Google
            </button>
        </div>
        <h1>Login</h1>

        <form role="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div ngModelGroup="userCredentials">
            <md-input-container>
              <input mdInput type="email" id="email" placeholder="Email" ngModel name="email" required>
            </md-input-container>
            <md-input-container>
              <input mdInput type="password" id="password" placeholder="Password" ngModel name="password" required>
            </md-input-container>
          </div>
          <button md-button type="submit">Submit</button>
</form>

</div>
</div>
</div>
</div>-->

<div class="my-scroll-container">
  <my-child-toolbar title="Sign In" (action)="onAction($event)"></my-child-toolbar>
  <div id="my-content" fxLayout="row">
    <div fxFlex="90" fxFlexOffset="5" fxFlexOffset.gt-sm="25" fxFlex.gt-sm="50">
      <div class="my-whiteframe-3dp">
        <button type="button" class="btn btn-primary" (click)="oauthSignIn('google')">
          <i class="fa fa-google"></i> Sign in with Google
        </button>
      </div>
      <h1>Login</h1>

      <form role="form" class="my-whiteframe-3dp my-padding" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div fxLayout="column" ngModelGroup="userCredentials">
          <md-input-container>
            <input mdInput type="email" id="email" placeholder="Email" ngModel name="email" required>
          </md-input-container>
          <md-input-container>
            <input mdInput type="password" id="password" placeholder="Password" ngModel name="password" required>
          </md-input-container>
        </div>
        <button md-button color="primary" type="submit">SUBMIT</button>
      </form>

    </div>
  </div>
</div>
