<my-flex-container>
  <md-toolbar color="primary">

    <button md-icon-button (click)="action.emit('back')">
      <md-icon class="md-24">arrow_back</md-icon>
    </button>

    <span>{{title}}</span>

    <span class="my-spacer"></span>

    <button md-icon-button (click)="action.emit('search')">
      <md-icon class="md-24">search</md-icon>
    </button>

    <button *ngIf="showMore" md-icon-button (click)="action.emit('more')">
      <md-icon class="md-24">more_horiz</md-icon>
    </button>

  </md-toolbar>
</my-flex-container>
