<md-sidenav-container>
  <md-sidenav #sidenav align="end" [opened]="sidenavOpen" (close)="sidenavOpen=false">

    <md-toolbar>
      <button md-icon-button>
        <md-icon md-list-icon fontSet="fa" fontIcon="fa-graduation-cap" class="fa-lg fa-dimmed"></md-icon>
      </button>
    </md-toolbar>

    <md-nav-list>
      <h3 md-subheader>Table of Contents</h3>
      <md-list-item *ngFor="let anchor of anchors">
        <a md-line (click)="scrollToAnchor(anchor.name)"> {{anchor.title}} </a>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <div class="my-scroll-container">
    <my-child-toolbar title="Article" (action)="onAction($event)" showSearch="true" showMore="true"></my-child-toolbar>
    <div id="my-content">
      <my-flex-container>
        <div [ngClass]="{'my-hide': scrollState === 'busy'}">

          <div *ngIf="article" class="my-whiteframe-2dp my-padding-2" [ngStyle]="{'text-align': article.BASE_LANG === 'ar' ? 'right' : 'left'}">
            <div class="my-fade-in" [ngClass]="{'my-hide': scrollState === 'busy'}">
              <my-article-core [article]="article" [hashTag]="tag" (clicked)="onClick($event)" (anchors)="acceptAnchors($event)"></my-article-core>
            </div>
          </div>

        </div>
      </my-flex-container>
    </div>
  </div>

</md-sidenav-container>

<my-dict-popover *ngIf="popoverInput" [input]="popoverInput" (shouldHide)="hidePopover()" (wordSearch)="wordSearch($event)"
  (speakWord)="speakWord($event)">
</my-dict-popover>
<my-hashtag-popover *ngIf="hashTag" [hashTag]="hashTag" [publication]="publication" [chapter]="chapter" (shouldHide)="hidePopover()">
</my-hashtag-popover>



<!--<div *ngIf="sidepanel.isopen" class="my-modal-overlay"></div>

<my-sidepanel *ngIf="sidepanel.isopen" [location]="'right'" [title]="'Article Menu'" (shouldHide)="sidepanel.isopen = false">
  <div class="sidepanel-nav-container">
    <div class="btn-group mt-1" role="group" aria-label="Supplementary article actions">
      <button *ngIf="hasFlashCards" type="button" class="btn btn-secondary" (click)="commandHandler('flashcards')"><i class="fa fa-fw fa-graduation-cap"></i></button>
      <button type="button" class="btn btn-secondary" (click)="commandHandler('toggleSpeech')"><i class="fa fa-fw" [ngClass]="speechSynthesizer.speechEnabled ? 'fa-volume-up' : 'fa-volume-off'"></i></button>
      <button type="button" class="btn btn-secondary" (click)="commandHandler('allTags')"><i class="fa fa-fw fa-hashtag"></i></button>
    </div>
  </div>
  <hr>
  <div class="m-1">
    <h3>Table of Contents</h3>
    <ul class="nav">
      <li class="nav-item" *ngFor="let anchor of anchors">
        <a class="nav-link anchor-link text-primary" (click)="jumpToAnchor(anchor.name)">{{anchor.title}}</a>
      </li>
    </ul>
  </div>
</my-sidepanel>-->
