<div class="my-scroll-container">
  <my-flex-container>
    <md-toolbar color="primary">
      <button md-icon-button (click)="goBack()">
        <md-icon class="md-24">arrow_back</md-icon>
      </button>
      <span>Search</span>
      <span class="my-spacer"></span>
      <my-dict-autocomplete (onSelect)="wordLangSearch($event)"></my-dict-autocomplete>
    </md-toolbar>
  </my-flex-container>

  <my-flex-container id="my-content">
    <div fxLayout="column" fxLayoutGap="10px">
      <my-lemma-group *ngFor="let base of result.bases" [word]="req.word" [base]="base" [lemmas]="result.lemmas(base)" (wordSearch)="foreignWordSearch($event)"
        (popoverSearch)="popoverSearch($event)">
      </my-lemma-group>
    </div>
  </my-flex-container>

</div>

<my-dict-popover *ngIf="popoverInput" [input]="popoverInput" (shouldHide)="hidePopover()" (wordSearch)="foreignWordSearch($event)"
  (speakWord)="speakWord($event)">
</my-dict-popover>
