<div class="card md-whiteframe-3dp">
    <div class="card-block" (click)="onClick($event)">
        <h5 *ngIf="base === word" class="card-title lemma-base">{{base}}</h5>
        <div *ngFor="let lemma of lemmas; let idx = index">
            <p [innerHTML]="convertMarkdown(lemma.text)" [class.homonym-separator]="isNewHomonym(idx)"></p>
        </div>
        <div class="text-xs-right mt-1">
            <button type="button" *ngIf="base !== word"
                    class="btn btn-outline-primary btn-sm lemma-base"
                    (click)="baseClicked($event, base)">
                {{base}}
            </button>
        </div>
    </div>
</div>