@import '../../../scss/variables';

.flashcard {
    height: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 599px) {
        height: 196px;
    }

    h3 {
      margin: 4px 0;
    }
}

.controller {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-primary {
  color: $brand-primary;
}
