<!--<div class="my-scroll-container">
  <my-flex-container>
    <md-toolbar color="primary">
      <button md-icon-button (click)="goBack()">
        <md-icon class="md-24">arrow_back</md-icon>
      </button>
      <span fxShow [fxShow.xs]="false">Search</span>
      <span class="my-spacer"></span>
      <md-icon class="md-24">search</md-icon>
      <my-search-autocomplete (onSelect)="wordLangSearch($event)"></my-search-autocomplete>
    </md-toolbar>
  </my-flex-container>

  <my-flex-container id="my-content">-->
    <div fxLayout="column" fxLayoutGap="10px">
      <my-lemma-group *ngFor="let base of result.bases" [word]="searchRequest.word" [base]="base" [lemmas]="result.lemmas(base)">
      </my-lemma-group>
    </div>
  <!--</my-flex-container>

</div>

<my-dict-popover *ngIf="popoverParams" [input]="popoverParams" (shouldHide)="hidePopover()" (wordSearch)="foreignWordSearch($event)"
  (speakWord)="speakWord($event)">
</my-dict-popover>-->
