<md-input-container color="accent">
  <input #searchField type="search" mdInput placeHolder="Search" [mdAutocomplete]="auto" [formControl]="searchCtrl" [(ngModel)]="term" (ngModelChange)="onChange($event)"
    autofocus autocapitalize="none" autocorrect="none" spellcheck="false">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let item of items" [value]="item" (onSelectionChange)="onItemSelect(item)">
    <span>{{ item.word }}</span>
  </md-option>
</md-autocomplete>
