<div class="my-scroll-container">
  <my-child-toolbar title="Articles" (action)="onAction($event)" showSearch="true"></my-child-toolbar>
  <div id="my-content">
    <my-flex-container>
      <md-nav-list *ngIf="indexTopic" class="my-whiteframe-2dp my-fade-in" [class.my-hide]="scrollState === 'busy'" [style.text-align]="indexTopic.baseLang.startsWith('ar') ? 'right' : 'left'">
        <h3 md-subheader>{{indexTopic.title}}<span *ngIf="indexTopic.subtitle"> — {{indexTopic.subtitle}}</span></h3>
        <md-list-item *ngFor="let topic of topics" (click)="openArticle(topic)">
          <h3 md-line>{{topic.title}}</h3>
          <p md-line *ngIf="topic.subtitle"> {{topic.subtitle}} </p>
        </md-list-item>
      </md-nav-list>
    </my-flex-container>
  </div>
</div>
