<div class="my-scroll-container">
  <my-child-toolbar title="User Authorizations" (action)="onAction($event)"></my-child-toolbar>
  <div id="my-content">
    <my-flex-container *ngIf="user">
      <div class="my-whiteframe-2dp my-padding my-margin">
        <h3>{{user.email}}</h3>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" class="my-whiteframe-2dp my-padding my-margin">
        <button md-raised-button (click)="selectAll()">SELECT ALL</button>
        <button md-raised-button (click)="selectNone()">SELECT NONE</button>
        <button md-raised-button [disabled]="!isDirty" (click)="restoreSelection()">RESET</button>
      </div>
      <md-list class="my-whiteframe-2dp my-padding my-margin">
        <md-list-item *ngFor="let group of groups; let index = $index">
          <h3 md-line>{{group.name}}</h3>
          <p md-line *ngFor="let topic of group?.topics">
            {{topic.title}}
          </p>
          <md-checkbox [(ngModel)]="group.selected" (ngModelChange)="onModelChange()" [disabled]="group.name==='public'"></md-checkbox>
        </md-list-item>
      </md-list>
    </my-flex-container>
  </div>
</div>
