:host {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transform: translateZ(0);
    padding: 16px;
    @media not screen {
        display: none;
    }
    md-card {
        background-color: lightyellow;
    }
    md-card-title {
        font-variant: small-caps;
    }
    md-card-actions {
        margin-bottom: 0;
        button {
            font-size: 18px;
            font-variant: small-caps;
        }
    }
}
