.lemma-base {
    text-decoration: none;
    font-variant: small-caps;
}

.homonym-separator {
    margin-top: 1rem;
}

my-lemma-group {
    margin: 0;
    @media (max-width: 599px) {
        margin: 0 2px;
    }
}
