$brand-primary:             #3F51B5;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #C2185B;

$body_background_color: #f1f1f1;
$link-color: #303F9F;
$grey_color: #e0e0e0;

$navbar-height: 56px;
