<my-flex-container>
  <md-card #popover [style.opacity]="scrollState === 'busy' ? 0 : 1">
    <div *ngIf="!errorText">
      <md-card-title>
        <span *ngIf="input.word !== resolvedWord">{{input.word}},</span>
        <span *ngIf="resolvedWord !== baseList">{{resolvedWord}},</span> {{baseList}}
      </md-card-title>
      <md-card-content [innerHtml]="safeHtml"></md-card-content>
      <md-card-actions>
        <button *ngIf="canSpeak()" md-button color="accent" [disableRipple]="true" (click)="onSpeakWordClick($event, input.word)">
            <i class="fa fa-volume-up"></i>
            {{input.word}}
        </button>
        <button *ngIf="resolvedWord" md-button color="primary" [disableRipple]="true" (click)="onSearchWordClick($event, resolvedWord)">{{resolvedWord}}</button>
      </md-card-actions>
    </div>

    <div *ngIf="errorText">
      <h5 class="card-title text-warning">{{input.word}}</h5>
      <p class="card-text">{{errorText}}</p>
    </div>
  </md-card>
</my-flex-container>
