<md-input-container color="accent">
  <input #searchField type="search" mdInput [formControl]="searchCtrl" [mdAutocomplete]="auto" [(ngModel)]="term" (ngModelChange)="onChange($event)"
    placeHolder="Search" autofocus autocapitalize="none" autocorrect="none" spellcheck="false">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let item of items" [value]="item.word" (onSelectionChange)="onItemSelect(item)" class="text-content">
    <span *ngIf="item.lang === targetLang; else baseLangBlock"><strong>{{ item.word }}</strong></span>
    <ng-template #baseLangBlock>{{ item.word }}</ng-template>
  </md-option>
</md-autocomplete>
